input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	width: 100%;
	transition: all 0.1s linear;
	border: 2px solid transparent;
	border-radius: 0;
	background-color: #eee;
	padding: $size__margin / 4;
	font-family: $font__heading;
	font-weight: 500;
}

textarea {
	resize: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	@include shadow-hover-extruded;
	outline: none;
	background-color: white;
	border-color: $color__text-highlight;
	color: $color__text-main;
}

label {
	@include font-size(1);
}

.wpcf7-form {
	p:first-of-type {
		margin-top: 0;
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	label {
		font-family: $font__heading;
	}
}

.wpcf7-response-output {
	padding: 20px;
	font-family: $font__heading;
	color: white;
	background-color: $color__text-highlight;
	border: none;
	margin: 2em 0 0;
	font-weight: 500;
}

// input[type="submit"] {
// 	width: 100%;
// 	margin-top: 1em;
// 	font-family: $font__heading;
// 	font-weight: 500;
// 	text-transform: uppercase;
// 	@include font-size(1.25);
// 	transition: all 0.1s linear;
// 	color: white;
// 	border-radius: 0;
// 	border: 15px solid transparent;
// 	border-image: url('imgs/border.png') 15;
// 	padding: $size__margin / 4;
// 	background-color: rgba($color__text-highlight, 1);

// 	&:hover {
// 		background-color: rgba($color__text-highlight, 0);
// 		color: $color__text-highlight;
// 	}
// }

.g-recaptcha>div {
	margin: 0 auto;
}

.mc-field-group label {
	display: none;
}

.disclaimer {
	@include font-size(0.75);
}

.search-field {
	@include font-size(1.25);
}

input[type="checkbox"],
input[type="radio"] {
	width: 1em;
	margin-right: 0.5em;
	display: none;

	&+label,
	&+span {
		padding: 1em 2em;
		background-color: white;
		border: 0.125em dashed #ddd;
		font-family: $font__heading;
		cursor: pointer;
	}

	&:checked+label,
	&:checked+span {
		border: 0.125em solid $color__text-highlight;
		background-color: $color__text-highlight;
		color: white;

		&:before {
			content: "\2713";
			display: inline-block;
			margin-right: 0.5em;
			transform: scale(1.5);
			position: relative;
			right: .5em;
		}
	}
}

.has-background input[type="checkbox"] {
	&+label {
		background-color: transparent;
	}

	&:checked+label {
		background-color: $color__text-highlight;
	}
}

.comment-form input[type="checkbox"] {

	&+label {
		display: block;
		width: 50%;
	}
}

.signup-form-group {

	input[type="checkbox"],
	input[type="radio"] {

		&:checked+label {
			border: 0.125em solid #A12326;
			background-color: #A12326;
			color: white;
		}
	}

	a:not(.btn) {
		color: #A12326;
		text-decoration: none;

		&:before {
			content: "\2713";
			display: inline-block;
			margin-right: 0.5em;
			transform: scale(1.5);
		}

		&:hover {
			color: darken(#A12326, 10%);
		}
	}
}


.flex-form .coblocks-field.checkbox,
.wpcf7-checkbox {
	display: block;
}

.coblocks-checkbox-label,
.wpcf7-list-item-label {
	width: 100%;
}

.wpcf7-list-item {
	margin: 0;
}

@media screen and (min-width: $breakpoint-medium) {

	.flex-form .coblocks-field.checkbox,
	.wpcf7-checkbox,
	.wpcf7-radio {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0.5em;

		.coblocks-label,
		.wpcf7-list-item-label {
			display: block;
			grid-column-start: 1;
			grid-column-end: 3;
			height: 100%;
		}

		.coblocks-checkbox-label {
			width: 100%;
		}

	}
}


/* class applies to select element itself, not a wrapper element */
.coblocks-form select {
	display: block;
	font-size: 1em;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	/* useful when width is set to anything other than 100% */
	box-sizing: border-box;
	margin: 0;
	border: 2px solid #eee;
	box-shadow: none;
	border-radius: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	/* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
    for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
    
  */
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23DDDDDD%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	/* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
	background-position: right .7em top 50%, 0 0;
	/* icon size, then gradient */
	background-size: .65em auto, 100%;
}

/* Hide arrow icon in IE browsers */
.coblocks-form select::-ms-expand {
	display: none;
}

/* Hover style */
.coblocks-form select:hover {
	border-color: #888;
}

/* Focus style */
.coblocks-form select:focus {
	border-color: #aaa;
	/* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

/* Set options to normal weight */
.coblocks-form select option {
	font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .coblocks-form select,
:root:lang(ar) .coblocks-form select,
:root:lang(iw) .coblocks-form select {
	background-position: left .7em top 50%, 0 0;
	padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.coblocks-form select:disabled,
.coblocks-form select[aria-disabled=true] {
	color: graytext;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
		linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.coblocks-form select:disabled:hover,
.coblocks-form select[aria-disabled=true] {
	border-color: #aaa;
}

.signup--form-group {
	margin-bottom: 1em;
}

.signup--form-group.group-has-columns {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: 1em 0em;
	margin-bottom: 0;
}

@media screen and (min-width: 768px) {
	.signup--form-group.group-has-columns {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		gap: 1em 1em;
		grid-template-areas: ". .";
	}
}

.signup--form-subgroup {
	width: 100%;
}

.signup--checkbox {
	display: block;
}

.signup--form-subgroup .signup--checkbox {
	display: flex;
	height: 100%;
	align-items: center;
}

.has-iw-white-color .signup--form h4 {
	color: white;
}