.has-iw-white-color {
    color: white;
}

.has-iw-orange-color {
    color: $color-iworange;
}

.has-iw-blue-color {
    color: $color-teamboosterblue;
}

.has-iw-black-color {
    color: $color-iwblack;
}

.has-iw-teal-color {
    color: $color-iwteal;
}

.has-playbook-green-color {
    color: $color-playbookgreen;
}

.has-iw-grey-color {
    color: $color-iwgrey;
}

.has-iw-yellow-color {
    color: $color-iwyellow;
}

.has-iw-magenta-color {
    color: $color-iwmagenta;
}

.has-iw-purple-color {
    color: $color-iwpurple;
}

.has-iw-lightblue-color {
    color: $color-iwlightblue;
}

.has-iw-tint-color {
    color: $color-iwtint;
}

.has-iw-white-background-color {
    background-color: white;
}

.has-iw-orange-background-color {
    background-color: $color-iworange;
}

.has-iw-blue-background-color {
    background-color: $color-teamboosterblue;
}

.has-iw-black-background-color {
    background-color: $color-iwblack;
}

.has-iw-teal-background-color {
    background-color: $color-iwteal;
}

.has-playbook-green-background-color {
    background-color: $color-playbookgreen;
}

.has-iw-grey-background-color {
    background-color: $color-iwgrey;
}

.has-iw-yellow-background-color {
    background-color: $color-iwyellow;
}

.has-iw-magenta-background-color {
    background-color: $color-iwmagenta;
}

.has-iw-purple-background-color {
    background-color: $color-iwpurple;
}

.has-iw-lightblue-background-color {
    background-color: $color-iwlightblue;
}

.has-iw-tint-background-color {
    background-color: $color-iwtint;
}
