@import '../../../variables-site/variables-site';

.iw-block-cs-horizontal {

    &.is-preview {
        padding: $size__margin;
        background-size: 10px 10px;
        background-image: repeating-linear-gradient(45deg, rgb(245, 245, 245) 0, rgb(245, 245, 245) 3px, white 0, white 50%);
        overflow-x: scroll;

        .iw-block-cs-horizontal-item {
            margin: 0 $size__margin / 2;
            padding: $size__margin;
            background: #fff;
            position: relative;
            margin-bottom: $size__margin;
            border: 1px solid #ddd;
        }

        .iw-block-cs-horizontal-inner>.block-editor-inner-blocks>.block-editor-block-list__layout {
            display: flex;
            width: 250%;
        }

        [data-type="acf/cs-horizontal-item"] {
            width: 100%;
            margin-right: $size__margin;
            height: 100%;
            display: flex;
            align-items: flex-start;
        }


            .valign-top [data-type="acf/cs-horizontal-item"] {
                align-items: flex-start;
            }

            .valign-center [data-type="acf/cs-horizontal-item"] {
                align-items: center;
            }

            .valign-bottom [data-type="acf/cs-horizontal-item"] {
                align-items: flex-end;
            }

    }

}