@font-face {
    font-family: 'Flama';
    src: url('fonts/flama-thin-webfont.woff2') format('woff2'),
        url('fonts/flama-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url('fonts/flamalight-webfont.woff2') format('woff2'),
        url('fonts/flamalight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url('fonts/flamabook-webfont.woff2') format('woff2'),
        url('fonts/flamabook-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url('fonts/flamamedium-webfont.woff2') format('woff2'),
        url('fonts/flamamedium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

// @font-face {
//     font-family: 'Flama';
//     src: url('fonts/flama-bold-webfont.woff2') format('woff2'),
//         url('fonts/flama-bold-webfont.woff') format('woff');
//     font-weight: 800;
//     font-style: normal;
// }
