.experiment-megamenu {
  .site-hero {
    height: 10em;
  }

  &.has-hero-image .site-hero {
    height: 0;
  }
}

.main-navigation {
  &:hover {
    .burger-topbun {
      transform: translateY(-5%);
    }

    .burger-bottombun {
      transform: translateY(5%);
    }
  }

  .menu-toggle {
    display: block;
    position: fixed;
    width: auto;
    top: 1em;
    right: 1em;
    padding: 0;
    background: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    transition: none;
    box-shadow: none;
    z-index: 100001;

    &:hover {
      box-shadow: none;
    }

    &:after {
      display: none;
    }
  }

  .burger {
    width: 1.25em;
  }

  .burger-patty,
  .burger-cheese {
    transform-origin: center center;
  }

  .burger-patty,
  .burger-cheese,
  .burger-topbun,
  .burger-bottombun {
    transition: all 0.2s ease;
    fill: none;
    stroke: $color-iworange;
    stroke-miterlimit: 10;
    stroke-width: 3px;
    stroke-linecap: square;
  }

  &.toggled .burger-patty {
    transform: rotate(45deg);
  }

  &.toggled .burger-cheese {
    transform: rotate(-45deg);
  }

  &.toggled .burger-topbun,
  &.toggled .burger-bottombun {
    opacity: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-menu {
    display: none;
    background-color: $color-iwblack;
    color: white;
    z-index: 100000;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    overflow-y: scroll;
    -ms-scroll-chaining: bounce;
    overscroll-behavior: contain;
    font-size: 3vw;
    font-size: clamp(1.5em, 2.5vw, 4em);

    li {
      width: 50%;
      text-align: right;
    }

    .menu-item-description {
      display: none;
    }

    .menu-link {
      color: white;
      display: block;
      width: 100%;
      text-decoration: none;
      padding-left: 0;
      padding-right: 1em;
      transition: padding-left 2s cubic-bezier(0.17, 0.67, 0.08, 0.98);

      &:hover {
        color: $color-iworange;
        padding-left: 1em;
      }
    }

    a {
      cursor: pointer;
    }

    .menu-link-no-url {
      cursor: default;
    }

    .megamenu {
      display: none;
      position: fixed;
      left: 50%;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 1em;
      flex-direction: column;
      justify-content: center;
      overflow-y: scroll;
      -ms-scroll-chaining: bounce;
      overscroll-behavior: contain;
      font-size: 0.825em;

      li {
        text-align: left;
        width: 100%;
      }
    }

    li:hover .megamenu {
      display: flex;
    }
  }

  &.toggled .nav-menu {
    display: flex;
  }

  .menu-featured-section {
    display: none;
  }

  .nav-item-gold a {
    color: #cc9933 !important;
  }
}

@media screen and (min-width: $breakpoint-large) {
  .experiment-megamenu .site-logo {
    z-index: 101;
  }

  .main-navigation {
    position: relative;
    z-index: 1;
    background: none;

    .menu-toggle {
      display: none;
    }

    .nav-menu {
      display: flex;
      background: none;
      color: $color-iwgrey;
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: nowrap;
      top: 0;
      left: 0;
      right: 0;
      bottom: auto;
      padding: 2em 1em 0;
      font-size: 1em;
      overflow-y: visible;
      z-index: 100;
      opacity: 1;
      transform: translateY(0);
      transition: background-color 0.2s linear, color 0.2s linear,
        opacity 0.2s linear, transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        opacity: 1;
        transform: translateY(0);
      }

      li {
        width: auto;
        padding: 0;
        line-height: 1.2;
      }

      > .menu-item > .menu-link {
        position: relative;
        overflow: visible;

        &:hover {
          z-index: 10;
        }

        &:hover:before {
          content: "";
          display: block;
          background-color: transparent;
          position: absolute;
          top: 1em;
          height: 100%;
          width: 3em;
          z-index: 100;
        }

        &:hover:before {
          left: 0%;
          transform: rotate(45deg);
          transform-origin: 0 0;
        }
      }

      .hidden-on-desktop {
        display: none;
      }

      .menu-link {
        color: $color-iwgrey;
        padding: 1em 1em 2em;
        transition: none;
        position: relative;
        z-index: 10;
      }

      .megamenu {
        position: absolute;
        left: 0;
        top: 100%;
        right: 0;
        bottom: auto;
        background-color: white;
        box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.4),
          0 0.75em 0.75em rgba(0, 0, 0, 0.2);
        flex-direction: row;
        flex-wrap: wrap;
        -ms-scroll-chaining: none;
        overscroll-behavior: auto;
        font-size: 1em;
      }

      .menu-item-description {
        display: block;
        font-size: 0.625em;
        line-height: 1.2;
      }

      .menu-scale-xsmall .megamenu {
        .sub-menu {
          columns: 2;
          column-fill: balance;
        }

        .menu-item {
          font-size: 1.25em;
          display: inline-block;
        }

        .menu-link {
          padding: 0.625em;

          &:hover {
            padding: 0.625em;
          }
        }
      }

      .menu-scale-small .megamenu {
        .sub-menu {
          columns: 2;
          column-fill: balance;
        }

        .menu-item {
          font-size: 1.625em;
          display: inline-block;
        }

        .menu-link {
          padding: 0.625em;

          &:hover {
            padding: 0.625em;
          }
        }
      }

      .menu-scale-medium .megamenu {
        .menu-item {
          font-size: 2em;
        }

        .menu-link {
          padding: 0.5em;

          &:hover {
            padding: 0.5em;
          }
        }
      }

      .menu-scale-large .megamenu {
        .menu-item {
          font-size: 3em;
        }

        .menu-link {
          padding: 0.333em;

          &:hover {
            padding: 0.333em;
          }
        }
      }

      .sub-menu {
        width: 30em;
        padding: 0;
      }

      .menu-featured-section {
        width: 30em;
        padding: 1em;
      }
    }

    .nav-menu:hover,
    &.we-have-scrolled .nav-menu {
      background-color: white;

      .menu-link {
        color: $color-iwgrey;

        &:hover {
          color: $color-iworange;
          padding: 1em 1em 2em;
        }
      }
    }

    .menu-featured-section {
      display: grid;
      text-align: left;
      gap: 1em 1em;
      grid-template-columns: 1fr 1fr;

      &[data-layout="1"] {
        grid-template-columns: 1fr;
        grid-template-areas: "one";
      }

      &[data-layout="2"] {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "one" "two";
      }

      &[data-layout="3"] {
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          "one one"
          "two three";
      }

      &[data-layout="4"] {
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          "one two"
          "three four";
      }

      > :nth-child(1) {
        grid-area: one;
      }

      > :nth-child(2) {
        grid-area: two;
      }

      > :nth-child(3) {
        grid-area: three;
      }

      > :nth-child(4) {
        grid-area: four;
      }

      .grid-item {
        width: 100%;
        font-size: 1em;
      }

      .menu-featured-item-link {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 1em;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        text-decoration: none;
        font-weight: 500;
        position: relative;
        z-index: 10;
      }

      .feed-video .menu-featured-item-link {
        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='100pt' height='100pt' version='1.1' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m50 1.7773c-26.633 0-48.223 21.59-48.223 48.223s21.59 48.223 48.223 48.223 48.223-21.59 48.223-48.223-21.59-48.223-48.223-48.223zm-18.086 72.332v-48.223l48.246 24.113z' fill='white' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: calc(100% - 1em) 1em;
          background-size: 1.5em;
          transition: background-position 0.7s
              cubic-bezier(0.075, 0.82, 0.165, 1),
            background-size 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
          z-index: 0;
        }

        &:hover:after {
          background-position: center center;
          background-size: 3em;
        }
      }

      .menu-featured-item-title,
      .menu-featured-item-meta {
        display: inline;
        text-transform: uppercase;
        padding: 0.25em 0.4em 0.3em;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        width: auto;
      }

      .menu-featured-item-title {
        background-color: $color-iwblack;
        color: white;
        margin-top: 3em;
        font-size: 1.125em;
      }

      .menu-featured-item-meta {
        background-color: white;
        color: $color-iwblack;
        font-size: 0.875em;
      }
    }

    &.tucked-away-nicely .nav-menu {
      opacity: 0;
      transform: translateY(-100%);

      &:hover {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .has-hero-image .main-navigation:not(.we-have-scrolled) .nav-menu {
    .menu-link {
      color: white;
    }

    &:hover .menu-link {
      color: $color-iwgrey;

      &:hover {
        color: $color-iworange;
      }
    }
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 1.5em 0;
  }

  .nav-next,
  .nav-previous {
    a {
      display: inline-block;
      @include shadow-hover;
      padding: 0.25em 0.5em;
      transition: all 0.1s linear;
      text-decoration: none;
      font-family: $font__heading;
      font-weight: 500;
    }
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .comment-navigation,
  .posts-navigation,
  .post-navigation {
    .nav-next,
    .nav-previous {
      a {
        padding: 0.5em 1em;
      }
    }
  }
}

.pagination {
  text-align: center;
  font-family: $font__heading;
}

.footer-navigation,
.social-navigation {
  padding: 0 1.5em;

  .menu {
    display: flex;
    list-style: none;
    margin: 1em 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  a {
    text-decoration: none;
    padding: 0.5em;

    &:hover {
      color: white;
      background-color: $color-iwteal;
      border-radius: 3px;
    }
  }
}

.footer-navigation {
  font-size: 1.125em;
  font-weight: 500;
  text-transform: lowercase;

  .back-to-top {
    font-size: 1.5em;
  }
}
