.iw-business-amp {
  position: relative;
}

.business-amp-results {
  position: absolute;
  top: 0.25%;
  left: 0;
  right: 0;
  transform: rotate(-67.5deg) scale(0.775);
}
.business-amp-results polyline {
  stroke-linejoin: round;
  stroke-linecap: round;
}
.business-amp-results .circles {
  stroke-width: 0.25px;
  stroke: white;
}
.business-amp-results .circles {
  fill: black;
}
.business-amp-results .circles:nth-of-type(2) {
  fill: #7c5417;
}
.business-amp-results .circles:last-of-type {
  fill: #FF9F12;
}