.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	margin-bottom: 10px;

	.nav-menu {
		visibility: hidden;
		background-color: rgba(255,255,255,0.9);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 100vh;
		z-index: 100000;
		opacity: 0;
		transition: visibility 0s, opacity 0.2s ease;
		text-align: center;
		padding: $size__margin;
	}

	.menu,
	.sub-menu {
		list-style: none;
		margin: 0;
	}

	&.toggled .nav-menu {
		opacity: 1;
		visibility: visible;
	}

	li {
		position: relative;
	}

	a {
		display: block;
		text-decoration: none;
		font-family: $font__heading;
		font-weight: 500;
		text-transform: lowercase;
		font-size: 5vw;
	}

	.sub-menu {
		display: flex;
		flex-wrap: wrap;
		border: 1px solid rgba($color__text-highlight, 0.3);
		padding: 0;

		li {
			width: 50%;
			border: 1px solid rgba($color__text-highlight, 0.3);
		}

		> :last-child:not(:nth-child(even)) {
			width: 100%;
		}
	}

	.sub-menu a {
		font-size: 3.5vw;
		font-family: $font__main;
	}

}

/* Small menu. */
.menu-toggle {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100001;
	border: none;
	background: white;
	padding: 0.1em 0.75em 0.5em;
	text-shadow: none;
	font-family: $font__heading;
	@include font-size(1);
	text-transform: lowercase;
	font-weight: 500;
	border-radius: 0;

	&:focus {
		outline: none;
	}

	&:after {
		content: '\2261';
		display: inline-block;
		@include font-size(1.75);
		margin-left: 0.3em;
		vertical-align: -0.1em;
		width: 1.5rem;
	}

	&[aria-expanded="true"] {

		&:after {
			content: '\00d7';
		}
	}

}

@media screen and (min-width: 600px) {
	.admin-bar {
		.menu-toggle,
		.main-navigation .nav-menu {
			top: 46px;
		}
	}
}

@media screen and (min-width: $breakpoint-small) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		overflow: visible;

		.nav-menu {
			visibility: visible;
			display: block;
			text-align: right;
			margin: $size__margin auto 0;
			padding: 0;
			position: static;
			height: auto;
			background-color: transparent;
			opacity: 1;
			@include font-size(1);

			&:hover a {
				color: rgba($color__text-highlight, 0.3);

				&:hover {
					color: $color__text-highlight;
				}
			}

			&:hover .sub-menu a {
				color: white;
			}
		}

		li {
			display: inline-block;
			position: relative;

			&:hover .sub-menu {
				display: flex;
			}

			&.menu-item-has-children:after {
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-top: 0.3em solid $color__text-highlight;
				border-left: 0.3em solid transparent;				
				border-right: 0.3em solid transparent;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);		
			}

			&.menu-item-has-children:hover {

				&:after {
					display: none;
				}
			}
		}

		a {
			padding: 0.5em;
			transition: all 0.1s linear;
			position: relative;
			font-size: inherit;
		}

		.nav-menu > .menu-item > a {
			@include shadow-hover();
		}

		.nav-menu > .menu-item.menu-item-has-children > a:hover {
			transform: translate(0px, 0px) !important;
			box-shadow: none;
		}

		.hidden-on-desktop {
			display: none;
		}

		.sub-menu {
			display: none;
			position: absolute;
			top: 90%;
			right: 0;
			text-align: center;
			@include shadow-hover-extruded($color__text-highlight);
			min-width: 16em;
			flex-wrap: wrap;
			background-color: $color__text-highlight;

			li {
				display: block;
				background-color: $color__text-highlight;
				width: 50%;
			}

			a {
				display: block;
				width: 100%;
				font-size: 0.875em;
				font-weight: bold;
				letter-spacing: -0.0125em;
				color: white;

				&:hover {
					background-color: rgba(255,255,255,0.2);
				}
			}

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
			}

			&:before {
				bottom: 100%;
				left: 0;
				right: -10px;
				height: 10px;
			}
			&:after {
				left: 100%;
				top: -10px;
				bottom: 0;
				width: 10px;
			}
		}
	}
}

@media screen and (min-width: $breakpoint-medium) {
	.main-navigation a {
		padding: 0.5em 1em;
	}
}

@media screen and (min-width: $breakpoint-large) {
	.main-navigation ul {
		@include font-size(1.125);
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 1.5em 0;
	}

	.nav-next,
	.nav-previous {
		a {
			display: inline-block;
			@include shadow-hover;
			padding: 0.25em 0.5em;
			transition: all 0.1s linear;
			text-decoration: none;
			font-family: $font__heading;
			font-weight: bold;
		}
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

@media screen and (min-width: $breakpoint-medium) {
	.comment-navigation,
	.posts-navigation,
	.post-navigation {

		.nav-next,
		.nav-previous {
			a {
				padding: 0.5em 1em;
			}
		}
	}
}

.pagination {
	text-align: center;
	font-family: $font__heading;
}
