.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-block-image.alignwide {
	box-shadow: 0 0 0.75em 0.75em white;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

.inline-icon {
	display: inline-block;
	height: 1em;
	margin-right: 0.25em;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;

	embed,
	iframe,
	object {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.wp-embed-aspect-1-1 .video-wrapper {
	padding-bottom: 100%;
}

.bg-video {
	object-fit: cover;
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.wpbr-review {
	font-size: 0.875em !important;

	.wpbr-review__content p {
		white-space: inherit;
		overflow: hidden;
		height: 3em;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 2em;
			background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
			display: block;
		}

		&:hover {
			height: auto;
		}

		&:hover:after {
			display: none;
		}
	}

	.wpbr-review__timestamp {
		display: none;
	}

	.wpbr-review__reviewer-image {
		flex-basis: 2.5em;
		width: 2.5em;
		height: 2.5em;
	}

}

.swiper-container-horizontal {
	.swiper-pagination {
		display: none;
	}
}

.home .swiper-container-horizontal {
	.swiper-pagination {
		display: block;
	}
}

.wpbr-collection__item:hover .wpbr-review__content p {
	white-space: inherit;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";

/*--------------------------------------------------------------
## Lity
--------------------------------------------------------------*/
@import "lity";

/*--------------------------------------------------------------
## Animations
--------------------------------------------------------------*/
@import "animations";
