.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published){
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.site-main {
	max-width: $size__site-main + $size__margin * 2;
	padding: 0 $size__margin;
	margin: 0 auto;
}

.page-template-page-home .client-section {
	max-width: 90%;
	margin: 0 auto $size__margin;
	padding: $size__margin;
	text-align: center;
}

.page-template-page-home .client-logos {
	margin-bottom: $size__margin;
}

.page-template-page-home .wpbr-wrap {
	font-size: inherit;
	font-family: inherit;
}

.archive-description,
.page-template-page-home .entry-content,
.page-template-page-feed .entry-content,
.page-template-page-team .entry-content,
.post-template-path .entry-content,
.work-template-path .entry-content {
	width: 100%;
}

.error-404,
.page-template-default .hentry,
.page-template-story .hentry,
.work-template-default .hentry,
.work-template-story .hentry,
.work-template-infographic .hentry,
.work-template-case-study .hentry,
.post-template-story .hentry,
.post-template-default .hentry,
.post-template-single-insight .hentry,
.page-template-page-noheader .hentry {
	width: 100%;
	margin: 0 auto;
}

.error-404,
.page-template-default .hentry,
.post-template-default .hentry,
.work-template-default .hentry,
.post-template-single-insight .hentry,
.page-template-page-search .hentry,
.page-template-page-noheader .hentry {
	max-width: 640px;
}

.page-template-story .hentry,
.work-template-story .hentry,
.post-template-story .hentry,
.work-template-case-study .hentry,
.work-template-infographic .hentry {
	max-width: 800px;
}

.page-template-page-search .hentry {
	margin: 0 auto;
}

.has-hero-image .entry-content {
	color: white;
}

@media all and ( min-width: $breakpoint-small ) {
	.archive-description,
	.page-template-page-home .entry-content,
	.page-template-page-team .entry-content,
	.post-template-path .entry-content,
	.work-template-path .entry-content,
	.page-template-page-feed .entry-header,
	.page-template-page-team .entry-header,
	.post-template-path .entry-header,
	.work-template-path .entry-header {
		width: 50%;
	}

	.error-404 {
		margin: 0 auto 2em;
	}
}

@media all and ( min-width: $breakpoint-medium ) {
	.page-template-page-home .entry-content {
		float: left;
		margin: $size__margin * 4 0;

		:first-child {
			// Align to top of .site-tagline
			margin-top: 8px;
		}

		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}

.entry-title {
	margin: 1em 0 0;

	.work-template:not(.work-template-case-study) &,
	.page-template-story &,
	.post-template-story & {
		margin-bottom: 0.5em;
	}
}

.page-template-default .page-title {
	text-align: center;
}

.archive .page-title {
	margin-bottom: 1em;
}

.entry-meta {
	margin: 1em 0;

	.author-image {
		height: 90px;
		float: left;
		margin-right: 2em;
	}

	.author {
		display: inline-block;
		margin-top: 0.5em;
		font-family: $font__heading;
		font-weight: bold;
		@include font-size(1.25);
		position: relative;

		&:before {
			content: '//';
			position: absolute;
			right: 100%;
			top: 0;
			color: $color__text-highlight;
			margin-right: 0.5em;
		}
	}

	.author-role,
	.posted-on {
		display: block;
		@include font-size(1);
	}

	&:after {
		content: '';
		clear: both;
		display: table;
	}
}

.entry-content {
	margin: 0 0 2em;
	transition: color 0.2s ease;
}

.signoff {
	height: 1em;
	width: 1.25em;
	display: inline-block;
}

.cat-links {
	a {
		font-weight: bold;
	}
}

.tags-links {
	display: block;
	margin: 1em 0;

	a {
		@include font-size(0.938);
		background-color: $color__text-main;
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		padding: 0.2em 0.5em;
		text-decoration: none;
		margin-left: 0.5em;
		transition: all 0.1s ease;

		&:hover {
			background-color: lighten($color__text-main, 10%);
		}
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-feed {
	clear: both;
}

.feed-key {
	margin-bottom: $size__margin;

	&:after {
		content: '';
		clear: both;
		display: table;
	}
}

.key-item {
	width: 16.66%;
	float: left;
	font-family: $font__heading;
	background-color: white;
	padding: 1em;
	text-align: center;

	&:nth-of-type(even) {
		background-color: #eee;
	}

	img {
		height: 30px;
		margin-right: 0.5em;
		display: inline-block;
		vertical-align: middle;
	}
}

.load-previous-posts {
	margin-bottom: $size__margin;
}

.feed-title {
	font-family: $font__heading;
	font-weight: bold;
	text-transform: uppercase;
	display: inline;
}

.feed-title .post-company {
	color: $color__text-highlight;
}

.feed-excerpt {
	opacity: 0;
	transition: opacity 0.1s linear;
	display: block;
	font-size: 0.889em;
	margin: 0.5em 0;
}

.feed-item-link {
	position: relative;
	display: block;
	padding: $size__margin / 2 $size__margin / 2 150px;
	text-decoration: none;
	transition: all 0.1s linear;
	z-index: 1;
	overflow: hidden;
	color: white;

	&:hover {
		color: white;

		.feed-excerpt {
			opacity: 1;
		}
	}

	.author-image {
		position: absolute;
		bottom: 0;
		right: $size__margin / 2;
		width: auto;
		height: 150px - $size__margin / 2;
		opacity: 0;
		transition: all 0.1s linear;
		transform: translateX( 10px );
	}

	&:hover .author-image {
		opacity: 1;
		transform: translateX( 0 );
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		transition: background-color 0.1s linear;
		z-index: -1;
	}

	.post-type-work & {
		&:after {
			background-color: rgba($color__text-main, 0);
		}

		&:hover:after {
			background-color: rgba($color__text-main, 0.75);
		}
	}

	.post-type-post & {
		&:after {
			background-color: rgba($color__text-main, 0.5);
		}

		&:hover:after {
			background-color: rgba($color__text-main, 0.8);
		}
	}

	.feed-video & {
		min-height: 200px;

		&:after {
			background-color: rgba($color__text-main, 0.5);
		}

		&:hover:after {
			background-color: rgba($color__text-main, 0.8);
		}
	}

	.feed-video.grid-item--width2 & {
		min-height: 300px;
	}

	.feed-work-quote & {
		border: 15px solid transparent;
		border-image: url('imgs/border.png') 15;
		padding: $size__margin / 4;
		background-color: rgba($color__text-highlight, 0);
		color: $color__text-highlight;

		&:hover {
			background-color: rgba($color__text-highlight, 1);
			color: white;
		}
	}

	.feed-item-leaderdev & {
		padding-bottom: 20px;
	}
}

.feed-item-link:before {
	content: '';
	position: absolute;
	bottom: $size__margin / 2;
	left: $size__margin / 2;
	width: 40px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom left;

	.feed-infographic & {
		background-image: url( 'imgs/feed-icons/infographic.svg' );
	}
	.feed-path & {
		background-image: url( 'imgs/feed-icons/storyboard.svg' );
	}
	.feed-story & {
		background-image: url( 'imgs/feed-icons/story.svg' );
	}
	.feed-single-event & {
		background-image: url( 'imgs/feed-icons/event.svg' );
	}
	.feed-standard &,
	.feed-single-insight & {
		background-image: url( 'imgs/feed-icons/insight.svg' );
	}
	.feed-video & {
		background-image: url( 'imgs/feed-icons/video.svg' );
	}
	.industry-consumer-brands-and-retailers & {
		background-image: url( 'imgs/feed-icons/consumer-brands-and-retailers.svg' );
	}
	.industry-engineering & {
		background-image: url( 'imgs/feed-icons/engineering-and-automotive.svg' );
	}
	.industry-professional-services & {
		background-image: url( 'imgs/feed-icons/finance-and-professional-services.svg' );
	}
	.industry-media-and-communications & {
		background-image: url( 'imgs/feed-icons/media-and-communications.svg' );
	}
	.industry-pharmaceutical-and-medical & {
		background-image: url( 'imgs/feed-icons/pharmaceutical-and-medical.svg' );
	}
}

@media all and ( min-width: $breakpoint-large ) {
	.feed-item-link:before {
		width: 60px;
		height: 60px;
	}
}

.sketch-overlay {
	position: absolute;
	top: -2px;
	bottom: -2px;
	right: -2px;
	left: -2px;
	z-index: 0;
	background-size: cover;
	background-position: center;
	animation: 45s ease-in-out 0s infinite wiggle;

	.parallax & {
		background-position: 50% 0;
	}

	.feed-item-link & {
		z-index: -1;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

@keyframes wiggle {
	2% { transform: translate(1px, 0px) rotate(0.5deg); }
	4% { transform: translate(1px, 0px) rotate(0.5deg); }
	6% { transform: translate(1px, 1px) rotate(0.5deg); }
	8% { transform: translate(0px, 0px) rotate(0.5deg); }
	10% { transform: translate(1px, 0px) rotate(0.5deg); }
	12% { transform: translate(0px, 0px) rotate(0.5deg); }
	14% { transform: translate(1px, 1px) rotate(0.5deg); }
	16% { transform: translate(0px, 1px) rotate(0.5deg); }
	18% { transform: translate(1px, 0px) rotate(0.5deg); }
	20% { transform: translate(0px, 1px) rotate(0.5deg); }
	22% { transform: translate(0px, 0px) rotate(0.5deg); }
	24% { transform: translate(0px, 0px) rotate(0.5deg); }
	26% { transform: translate(1px, 1px) rotate(0.5deg); }
	28% { transform: translate(0px, 1px) rotate(0.5deg); }
	30% { transform: translate(0px, 0px) rotate(0.5deg); }
	32% { transform: translate(1px, 1px) rotate(0.5deg); }
	34% { transform: translate(0px, 1px) rotate(0.5deg); }
	36% { transform: translate(0px, 1px) rotate(0.5deg); }
	38% { transform: translate(0px, 0px) rotate(0.5deg); }
	40% { transform: translate(1px, 0px) rotate(0.5deg); }
	42% { transform: translate(0px, 1px) rotate(0.5deg); }
	44% { transform: translate(0px, 1px) rotate(0.5deg); }
	46% { transform: translate(0px, 0px) rotate(0.5deg); }
	48% { transform: translate(1px, 0px) rotate(0.5deg); }
	50% { transform: translate(1px, 1px) rotate(0.5deg); }
	52% { transform: translate(0px, 0px) rotate(0.5deg); }
	54% { transform: translate(1px, 1px) rotate(0.5deg); }
	56% { transform: translate(0px, 1px) rotate(0.5deg); }
	58% { transform: translate(1px, 0px) rotate(0.5deg); }
	60% { transform: translate(1px, 1px) rotate(0.5deg); }
	62% { transform: translate(0px, 1px) rotate(0.5deg); }
	64% { transform: translate(0px, 0px) rotate(0.5deg); }
	66% { transform: translate(1px, 0px) rotate(0.5deg); }
	68% { transform: translate(0px, 0px) rotate(0.5deg); }
	70% { transform: translate(1px, 0px) rotate(0.5deg); }
	72% { transform: translate(1px, 1px) rotate(0.5deg); }
	74% { transform: translate(1px, 1px) rotate(0.5deg); }
	76% { transform: translate(0px, 0px) rotate(0.5deg); }
	78% { transform: translate(0px, 0px) rotate(0.5deg); }
	80% { transform: translate(1px, 0px) rotate(0.5deg); }
	82% { transform: translate(1px, 1px) rotate(0.5deg); }
	84% { transform: translate(0px, 1px) rotate(0.5deg); }
	86% { transform: translate(1px, 1px) rotate(0.5deg); }
	88% { transform: translate(1px, 1px) rotate(0.5deg); }
	90% { transform: translate(0px, 1px) rotate(0.5deg); }
	92% { transform: translate(1px, 0px) rotate(0.5deg); }
	94% { transform: translate(1px, 0px) rotate(0.5deg); }
	96% { transform: translate(1px, 0px) rotate(0.5deg); }
	98% { transform: translate(1px, 1px) rotate(0.5deg); }
	0%,100% { transform: translate(0, 0) rotate(0); }
}

.feed-item {
	background-color: #DADADA;
	background-image: url('imgs/nosrc.svg');
	background-size: cover;
	background-position: center;

	&.shadow-effect {
		@include shadow-hover();
	}
}

.feed-item {
	&.grid-item--width2,
	&.grid-item--width3,
	&.grid-item--widthall {
		@include font-size(1.125);
	}
}

@media all and ( min-width: $breakpoint-small ) {
	.feed-item {
		&.grid-item--width2,
		&.grid-item--width3,
		&.grid-item--widthall {
			@include font-size(1.375);
		}
	}
}

.feed-work-quote,
.feed-single-thought {

	p {
		font-family: $font__heading;
		font-weight: bold;
		@include font-size(1.375);
		margin: 0;

		&:before,
		&:after {
			font-family: $font__main;
		}

		&:before {
			content: '\201C';
		}

		&:last-of-type:after {
			content: '\201D';
		}
	}

}

.feed-work-quote {
	background: none;
}

.feed-single-thought {
	background-color: $color__text-highlight;
	color: white;
	padding: $size__margin / 2;

	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		background-color: $color__text-highlight;
	}

	&:before {
		width: $size__margin / 2;
		height: 14px;
		bottom: -6px;
		right: $size__margin / 2;
		border: 2px solid white;
	}

	&:after {
		width: $size__margin / 4;
		height: 8px;
		bottom: -16px;
		right: $size__margin;
	}

	&.feed-item {
		overflow: visible;
	}
}

.feed-single-event .feed-item-link {
	.author-image {
		display: none;
	}
}

.feed-item.post-type-work .feed-title {
	background-color: $color__text-main;
	color: white;
	padding: 0.1em 0;
}

@supports (-webkit-box-decoration-break: clone) or (box-decoration-break: clone) {
	.feed-item.post-type-work .feed-title {
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
		padding: 0.2em 0.4em;
	}
}

.feed-item-meta {
	@include font-size(1);
}

.feed-item-leaderdev {
	background-image: url( 'imgs/leaderdev.jpg' );
}

.share-menu {
	padding-left: 0;
	margin-left: 0;
	list-style: none;
}

.share-link {
	display: inline-block;
	margin-right: 0.5em;

	a {
		text-decoration: none;
		vertical-align: -webkit-baseline-middle;
	}
}

.social-icon {
	height: 1.5em;
	transition: transform 0.1s linear;

	&:hover {
		transform: scale(1.1);
	}
}

.work-template-case-study {

	.industry-meta {
		font-family: $font__heading;
		border-top: 2px solid $color__text-highlight;
		padding-top: 0.5em;
	}

	.industry-list {
		display: inline-block;
		padding: 0;
		margin: 0;
	}

	.industry {
		font-weight: bold;
		list-style: none;
	}

	.entry-title {
		margin-top: 0.25em;
	}

	.entry-section--lead {
		@include font-size(1.25);
		font-family: $font__heading;
	}

	.entry-section--content:after {
		content: '';
		clear: both;
		display: table;
	}

	.entry-section--list {
		margin-top: 0;
		padding-left: 0;
	}

	.entry-section--list-item {
		margin-left: 0;
		margin-bottom: 1.5em;
		clear: both;

		&:before {
			display: none;
		}
	}

	.entry-section--list-item--content {
		margin-top: 0.5em;
		@include font-size(.9375);
	}

	.entry-section--list-item--heading {
		margin: 0;
	}

	.entry-section--list-item--heading,
	.entry-section--list-item--content {
		clear: none;
	}

	.entry-section--list-item--has-icon {
		padding-left: 50px + $size__margin / 2;
		position: relative;
	}

	.entry-section--list-item--icon {
		position: absolute;
		top: 0;
		left: 0;
		max-width: 50px;
		height: auto;
	}

	.entry-section--skills {
		padding: $size__margin / 2;
		background-color: lighten($color__background-hr, 15%);
	}

	.entry-section--list-item--skill {
		font-family: $font__heading;
		margin-bottom: 0.5em;
		color: $color__text-highlight;

		&:not(.skill-deployed) {
			filter: grayscale(1);
			opacity: 0.5;
		}
	}

	.entry-section--list-item--skill-icon {
		display: inline-block;
		width: 2em;
		height: auto;
		vertical-align: middle;
	}

	.entry-section--contacts {
		margin-bottom: $size__margin * 2;
	}

	.contact-name {
		margin-bottom: 0;
	}

	.contact-email {
		margin-top: 0;
	}

	.contact-image {
		display: none;
	}

	.entry-section--download {
		text-align: center;
		border-top: 1px solid $color__background-hr;
	}
}

@media all and ( min-width: $breakpoint-small ) {
	.work-template-case-study {
		.entry-section--lead {
			@include font-size(1.75);
			font-family: $font__heading;
		}

		.entry-section--col {
			float: left;
		}

		.entry-section--col:nth-of-type(odd) {
			width: 47.5%;
			margin-right: 5%;
		}
		.entry-section--col:nth-of-type(even) {
			width: 47.5%;
		}

		.entry-section--contacts {
			position: relative;
			padding-left: 160px + $size__margin;
		}

		.contact-image {
			width: 100px;
			position: absolute;
			left: 0;
			margin-top: -10px;
			border-width: 4px;
			display: block;
			border-radius: 50%;
			border: 4px solid $color__text-highlight;


			&:nth-of-type(2) {
				left: 60px;
			}
		}
	}
}


.search {

	.post,
	.page,
	.work {
		background: white;
		border: 1px solid $color__background-hr;
		padding: $size__margin;
	}

}
