@import '../../../sass/variables-site/variables-site';

body {
    &.text-iw-orange .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            color: $color-iworange;
        }
    }

    &.text-iw-teal .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            color: $color-iwteal;
        }
    }

    &.text-iw-black .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            color: $color-iwblack;
        }
    }

    &.text-iw-grey .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            color: $color-iwgrey;
        }
    }

    &.text-iw-white .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            color: #fff;
        }
    }

    &.text-iw-yellow .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            color: $color-iwyellow;
        }
    }

    &.text-playbook-green .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            color: $color-playbookgreen;
        }
    }

    &.text-iw-magenta .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            color: $color-iwmagenta;
        }
    }

    &.text-iw-blue .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            color: $color-teamboosterblue;
        }
    }

    &.text-iw-purple .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            color: $color-iwpurple;
        }
    }

    &.text-iw-lightblue .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            color: $color-iwlightblue;
        }
    }

    &.text-iw-tint .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            color: $color-iwtint;
        }
    }

    &.text-iw-orange .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            color: $color-iworange;
        }
    }

    &.bg-iw-orange {
        background-color: $color-iworange;
    }

    &.bg-iw-teal {
        background-color: $color-iwteal;
    }

    &.bg-iw-black {
        background-color: $color-iwblack;
    }

    &.bg-iw-grey {
        background-color: $color-iwgrey;
    }

    &.bg-iw-white {
        background-color: #fff;
    }

    &.bg-iw-yellow {
        background-color: $color-iwyellow;
    }

    &.bg-playbook-green {
        background-color: $color-playbookgreen;
    }

    &.bg-iw-magenta {
        background-color: $color-iwmagenta;
    }

    &.bg-iw-blue {
        background-color: $color-teamboosterblue;
    }

    &.bg-iw-purple {
        background-color: $color-iwpurple;
    }

    &.bg-iw-lightblue {
        background-color: $color-iwlightblue;
    }

    &.bg-iw-tint {
        background-color: $color-iwtint;
    }
}