h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin: 1.5em 0 0.25em;
	letter-spacing: -0.03em;
	line-height: $font__line-height-heading;

	.entry-header &,
	.page-header & {
		margin-top: 0.5em;
	}
}

h1, h2 {
	font-family: $font__heading;
}

h1, h2, h3 {
	color: $color__text-highlight;
}

h4, h5 {
	color: $color__text-main;
}

h1 {
	font-size: 1.75em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.375em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1.125em;
}

@media all and ( min-width: $breakpoint-xsmall ) {
	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2.25em;
	}
	h3 {
		font-size: 1.75em;
	}

	h4 {
		font-size: 1.5em;
	}

	h5 {
		font-size: 1.25em;
	}
}

@media all and ( min-width: $breakpoint-small ) {
	h1 {
		font-size: 4em;
	}

	h2 {
		font-size: 2.5em;
	}
}

@media all and ( min-width: $breakpoint-medium ) {
	h1.short-title {
		font-size: 5em;
	}
	h1.site-tagline {
		font-size: 7.5vw;
	}

	h2 {
		font-size: 3em;
	}
}
