/* ---- Grids ---- */

.masonry-grid,
.equal-height-grid {
    transition: opacity 0.2s linear;
    

    /* clearfix */
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.masonry-grid,
.feed {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1em 1em;
    margin-bottom: 1em;
}

.masonry-grid-hidden {
    opacity: 0;
}

/* ---- grid-item ---- */

.masonry-grid-sizer,
.grid-item,
.grid-item--width2,
.grid-item--width3,
.grid-item--widthall {
    width: 100%;
}

.masonry-gutter-sizer {
    width: 0;
}

.grid-item {
    // float: left;
    // margin-bottom: $size__gutter * 2;
    transition: all 0.2s ease;
    position: relative;

    &:hover {
        z-index: 2;
    }

    &.path-item {
        transition: all 0.8s ease-out;
    }
}

@media all and ( min-width: $breakpoint-xsmall ) {
    .masonry-grid,
    .feed {
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
    }

    // .masonry-grid-sizer,
    .grid-item {
        width: 45%;
        flex-grow: 1;
    }

    .grid-item--width2 {
        width: 100%;
        flex-grow: 2;
        // min-width: 400px;
        // grid-column: span 2;
    }

    // .masonry-grid-sizer,
    // .grid-item {
    //     width: $size__col * 2 + $size__gutter;
    // }

    // .masonry-gutter-sizer {
    //     width: $size__gutter;
    // }

    // .grid-item {
    //     margin-bottom: $size__gutter;
    // }

    // .story {
    //     .masonry-grid-sizer,
    //     .grid-item {
    //         width: $size__col * 2 + $size__gutter;
    //     }

    //     .grid-item--width2,
    //     .grid-item--width3,
    //     .grid-item--widthall {
    //         width: 100%;
    //     }
    // }
}

@media all and ( min-width: $breakpoint-medium ) {
    .masonry-grid,
    .feed {
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
    }

    // .masonry-grid-sizer,
    .grid-item {
        width: 20%;
    }

    .grid-item--width2 {
        width: 50%;
        // min-width: 400px;
        // grid-column: span 2;
    }
    // .grid-item--width3 { width: $size__col * 3 + $size__gutter * 2; }
    // .grid-item--widthall { width: 100%; }

    // .equal-height-grid {
    //     .masonry-grid-sizer,
    //     .grid-item {
    //         width: 31%;
    //     }

    //     .masonry-gutter-sizer {
    //         width: 3.5%;
    //     }
    // }
}


.path-item--content {
    padding: $size__margin / 2;
    padding-left: $size__margin;
    transition: all 0.2s ease;
    background: white;
    overflow: hidden;
    width: 100%;
    font-family: $font__heading;

    .equal-height-grid & {
        position: absolute;
        height: 100%;
    }

    .path-item--type-img & {
        padding: 0;
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }

    .path-item-squares & {
        background-image: url( 'imgs/square.png' );
    }

    .path-item-graph & {
        background-image: url( 'imgs/graphy.png' );
    }

    .path-item-lined & {
        background-image: url( 'imgs/lined.png' );
    }

    .path-item-yellow & {
        background: #fffe90;
    }

    .path-item-orange & {
        background: #FBAD4B;

        h1,
        h2,
        h3,
        h4 {
            color: white;
        }
    }

    .path-item-yellow &:before,
    .path-item-orange &:before,
    .path-item-yellow &:after,
    .path-item-orange &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 75px;
        height: 75px;
        z-index: 0;
    }

    .path-item-yellow &:before,
    .path-item-orange &:before {
        left: 0;
        @include linear-gradient( 225deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100% );
    }

    .path-item-yellow &:after,
    .path-item-orange &:after {
        right: 0;
        @include linear-gradient( 135deg, rgba(255,255,255,0) 50%, rgba(255,255,255,0.40) 100% );
    }

    .path-item-quote & {
        background-color: $color__text-main;
        color: white;
        font-family: $font__heading;
        font-weight: 500;
        font-size: 1.2em;
        overflow: visible;

        &:after {
            content: "";
            position: absolute;
            top: 99%;
            right: $size__margin;
            transform: rotate( 10deg );
            border-top: $size__margin / 2 solid $color__text-main;
            border-left: $size__margin / 2 solid $color__text-main;
            border-right: $size__margin / 2 solid transparent;
            border-bottom: $size__margin / 2 solid transparent;
        }
    }
}

.story-item {
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }

    &.story-item--img {
        @include font-size(0);
    }
}

.story-item--img-caption {
    display: block;
    @include font-size(0.938);
    padding: $size__margin / 4;
    background-color: #eee;
}

.path-item {
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    opacity: 1;
    transform: translateY(0);

    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;

        &.path-item--img {
            width: 100%;
            margin: 0;
        }
    }

    .equal-height-grid &:after {
        content: '';
        padding-bottom: 100%;
        display: block;
    }
}

.path-item--index {
    position: absolute;
    left: 0;
    top: $size__margin / 2;
    z-index: 1;
    transform: translate(0,0);
    padding: 2px 0;
    width: 23px;
    color: white;
    @include font-size(1);
    text-align: center;
    font-family: $font__heading;
    font-weight: 500;
    background-color: $color__text-highlight;
    transition: all 0.1s linear;

    .path-item-orange &,
    .path-item-quote & {
        background-color: white;
    }

    .path-item-orange & {
        color: $color__text-highlight;
    }

    .path-item-quote & {
        color: $color__text-main;
    }
}

.path-item--hidden {
    opacity: 0;
    transform: translateY(-20px);
    box-shadow: 0 22px 20px rgba(0,0,0,0);
}

.path-item--img {
    max-width: none;

    .equal-height-grid & {
        background-size: cover;
        background-position: center;
        min-height: 200px;
        height: 100%;
    }
}

.path-item--img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color__text-main,0.75);
    overflow: hidden;
}

.path-item--img-overlay-text {
    position: absolute;
    left: $size__margin;
    right: $size__margin / 2;
    bottom: $size__margin / 2;
    color: white;
    font-family: $font__heading;
    text-transform: uppercase;
}

.textFitted {
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
}

.stretch-columns .wp-block-column {
    align-items: stretch;
}