/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@font-face {
	font-family: 'Flama';
	src: url("fonts/flama-thin-webfont.woff2") format("woff2"), url("fonts/flama-thin-webfont.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Flama';
	src: url("fonts/flamalight-webfont.woff2") format("woff2"), url("fonts/flamalight-webfont.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Flama';
	src: url("fonts/flamabook-webfont.woff2") format("woff2"), url("fonts/flamabook-webfont.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Flama';
	src: url("fonts/flamamedium-webfont.woff2") format("woff2"), url("fonts/flamamedium-webfont.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

/*--------------------------------------------------------------
# Admin
--------------------------------------------------------------*/
.editor-block-list__layout .editor-block-list__block,
.editor-post-title__block .editor-post-title__input,
h1.rich-text.block-editor-rich-text__editable,
h2.rich-text.block-editor-rich-text__editable,
#post-title-0,
table {
	font-family: 'Flama', sans-serif;
}

h3.rich-text.block-editor-rich-text__editable,
h4.rich-text.block-editor-rich-text__editable,
h5.rich-text.block-editor-rich-text__editable,
h6.rich-text.block-editor-rich-text__editable,
.has-medium-font-size,
.editor-block-list__layout .editor-block-list__block p,
.rich-text.block-editor-rich-text__editable.wp-block-paragraph,
.block-editor-block-list__layout.is-root-container,
ul,
ol {
	font-family: 'Open Sans', sans-serif;
}

.block-modal.is-preview .btn {
	color: white;
	background-color: #FF8D00;
	text-align: center;
	text-decoration: none;
	padding: 1em;
	margin-bottom: 1em;
}

.block-modal.is-preview .iw-modal {
	padding: 1em;
	background-color: white;
	background-size: 10px 10px;
	background-image: repeating-linear-gradient(45deg, #ebebeb 0, #ebebeb 3px, white 0, white 50%);
}

.block-modal.is-preview .iw-modal:before {
	content: "Visible when modal window is open:";
	display: block;
	background-color: white;
	padding: 1em;
}

.block-modal.is-preview .iw-modal-window {
	background-color: white;
	padding: 1em;
}

.block-modal.is-preview .coblocks-form {
	color: #282727;
}

/*--------------------------------------------------------------
# Colours
--------------------------------------------------------------*/
.has-iw-white-color {
	color: white;
}

.has-iw-orange-color {
	color: #FF8D00;
}

.has-iw-blue-color {
	color: #2C5E80;
}

.has-iw-black-color {
	color: #282727;
}

.has-iw-teal-color {
	color: #21888F;
}

.has-playbook-green-color {
	color: #64BE5F;
}

.has-iw-grey-color {
	color: #616264;
}

.has-iw-yellow-color {
	color: #FEBD2A;
}

.has-iw-magenta-color {
	color: #EC008C;
}

.has-iw-purple-color {
	color: #683C91;
}

.has-iw-lightblue-color {
	color: #A6DAE4;
}

.has-iw-tint-color {
	color: #FAF9F8;
}

.has-iw-white-background-color {
	background-color: white;
}

.has-iw-orange-background-color {
	background-color: #FF8D00;
}

.has-iw-blue-background-color {
	background-color: #2C5E80;
}

.has-iw-black-background-color {
	background-color: #282727;
}

.has-iw-teal-background-color {
	background-color: #21888F;
}

.has-playbook-green-background-color {
	background-color: #64BE5F;
}

.has-iw-grey-background-color {
	background-color: #616264;
}

.has-iw-yellow-background-color {
	background-color: #FEBD2A;
}

.has-iw-magenta-background-color {
	background-color: #EC008C;
}

.has-iw-purple-background-color {
	background-color: #683C91;
}

.has-iw-lightblue-background-color {
	background-color: #A6DAE4;
}

.has-iw-tint-background-color {
	background-color: #FAF9F8;
}

/*# sourceMappingURL=common.css.map */