$size__site-main: 1280px;

$size__margin: 40px;

$size__col: 22%;
$size__gutter: 4%;

$breakpoint-xxsmall: 384px;
$breakpoint-xsmall: 512px;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1280px;
$breakpoint-xlarge: 1536px;
