.iw-business-amp {
    position: relative;
}

.business-amp-results {
    position: absolute;
    top: 0.25%;
    left: 0;
    right: 0;
    transform: rotate(-67.5deg) scale(0.775);

    polyline {
        stroke-linejoin: round;
        stroke-linecap: round;
    }

    .circles {
        stroke-width: 0.25px;
        stroke: white;
    }

    .circles {
        fill: black;
    }

    .circles:nth-of-type(2) {
        fill: #7c5417;
    }
    .circles:last-of-type {
        fill: #FF9F12;
    }
}