@import '../../../variables-site/variables-site';

.iw-block-post-grid {
    padding: 1em;
}

.iw-block-post-grid-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em 1em;
    // grid-template-areas: "featured-1 featured-1"
    //     ". ."
    //     "featured-2 featured-2"
    //     ". .";
}

.iw-block-post-grid-post {
    background-color: grey;
    position: relative;
    overflow: hidden;

    // &:nth-of-type(1) {
    //     grid-area: featured-1;
    // }
    // &:nth-of-type(4) {
    //     grid-area: featured-2;
    // }
}

.iw-block-post-grid-post-title {
    position: relative;
    margin: 0;
    color: white;
    transform: translateY(300%);
    transition: all .5s ease;
    z-index: 1;
}

.iw-block-post-grid-post-link {
    position: relative;
    display: flex;
    padding: 20vw $size__margin $size__margin;
    height: 100%;
    align-items: flex-end;
    text-decoration: none;
    z-index: 5;

    &:hover .iw-block-post-grid-post-title {
        transform: translateY(0);
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.5) 100%);
        z-index: 0;
        opacity: 0;
        transition: all 0.3s linear;
    }

    &:hover:before {
        opacity: 1;
    }

    &:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: top left;
        transform: translateX(-100%) rotate(60deg);
        background-color: $color__text-highlight;
        z-index: 0;
        transition: all 1s ease;
    }

    &:hover:after {
        transform: translateX(0) rotate(60deg);
    }
}


.iw-block-post-grid-post-background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    transform: translate(-50%,-50%);
}