@import '../../../variables-site/variables-site';

.iw-block-signup-download {
  text-align: center;

  .download {
    display: flex;
    background-color: $color-iwtint;
    margin: 1em 0;
    padding: 1em;
    justify-content: space-between;
    align-items: center;

    &> * {
      margin: 0;
    }

    .btn {
      width: auto;
      flex-grow: 0;
    }


  }

  .download-header {
    text-align: left;

    &> * {
      margin: 0;
    }
  }

  .download-metadata {
    font-size: 0.875em;
  }


  .download-links {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
  }
}