@charset "UTF-8";
/*--------------------------------------------------------------
# Slick Theme
--------------------------------------------------------------*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick/slick.eot");
  src: url("./fonts/slick/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick/slick.woff") format("woff"), url("./fonts/slick/slick.ttf") format("truetype"), url("./fonts/slick/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: #22222A;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dots {
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: white;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: white;
      opacity: 0.75; }

/*--------------------------------------------------------------
# Schindler
--------------------------------------------------------------*/
.schindler {
  overflow-x: hidden; }
  .schindler .content-area {
    max-width: 640px;
    margin: 0 auto; }
  .schindler .site-main {
    max-width: none;
    padding: 0; }
  .schindler .team-member {
    text-align: center; }
  .schindler .team-member--img {
    position: relative;
    background-color: #22222A;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-bottom: 0;
    height: 10em;
    overflow: hidden; }
  .schindler .team-member--name {
    font-family: "Flama", sans-serif;
    margin: 0; }
  .schindler .team-member--role {
    margin: 0; }
  .schindler .team-member--meta {
    padding: 4%; }
  .schindler mark {
    background-color: rgba(0, 0, 0, 0.9);
    color: #FF8D00;
    padding: 0 0.25em; }
  .schindler h1, .schindler h2, .schindler h3, .schindler h4, .schindler h5 {
    line-height: 1.25; }
  .schindler h2 {
    letter-spacing: 0.025em; }
  .schindler h2, .schindler h3 {
    text-transform: uppercase;
    margin-bottom: 0.5em; }
  .schindler .team-member--name {
    font-size: 18px;
    font-size: 1.125rem; }
  .schindler .team-member--role {
    font-size: 15px;
    font-size: 0.9375rem; }
  .schindler .extra-padding {
    padding: 4%; }
  .schindler .wp-block-coblocks-row[data-columns="1"] .wp-block-coblocks-column__inner > .wp-block-embed-youtube {
    max-width: 100%; }

@media screen and (min-width: 1280px) {
  .schindler .team-member--img {
    overflow-y: hidden;
    cursor: default; } }

.has-iw-orange-background-color {
  background-color: #FF8D00; }

.has-iw-blue-background-color {
  background-color: #16467B; }

.has-iw-black-background-color {
  background-color: #22222A; }

.has-iw-white-background-color {
  background-color: white; }

.has-iw-orange-color {
  color: #FF8D00; }

.has-iw-blue-color {
  color: #16467B; }

.has-iw-black-color {
  color: #22222A; }

.has-iw-white-color {
  color: white; }

.schindler-block {
  position: relative; }

.schindler-block-business-areas {
  background-color: #22222A;
  padding: 4%;
  background-image: url("imgs/Schindler-flat.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
  .schindler-block-business-areas h2 {
    margin-top: 0; }

.business-navigation {
  padding: 0;
  margin: 0;
  display: flex;
  max-width: 1280px;
  margin: 0 auto 4%;
  flex-wrap: wrap;
  justify-content: center; }
  .business-navigation li {
    list-style: none;
    margin: 1%;
    align-items: stretch; }
  .business-navigation a {
    height: 100%;
    display: flex;
    align-items: center; }

@media screen and (min-width: 1280px) {
  .business-navigation {
    flex-wrap: nowrap; } }

.world-map svg {
  width: 100%;
  height: auto; }

.timeline {
  margin: 0;
  padding: 0; }
  .timeline li {
    list-style: none;
    position: relative;
    padding-left: 2em; }
    .timeline li:before, .timeline li:after {
      content: '';
      display: block;
      position: absolute;
      left: 0.5em;
      top: 0.25em;
      transform: translateX(-50%); }
    .timeline li:before {
      bottom: -3em;
      width: 0.25em;
      background-color: #FF8D00; }
    .timeline li:after {
      width: 1em;
      height: 1em;
      border: 0.25em solid #FF8D00;
      border-radius: 50%;
      background-color: white; }
    .timeline li:last-of-type:before {
      display: none; }

.iw-modal-window.business-modal-window {
  max-width: 853.76px;
  padding-right: 20%;
  background-image: url("imgs/Schindler.png");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 95% 2em; }

@media screen and (min-width: 1024px) {
  .iw-modal-window.business-modal-window {
    background-size: 25%; } }

.wp-block-quote.is-style-large p {
  font-size: 2em;
  font-style: normal; }

.team-slider {
  margin-bottom: 4%; }

.slider-container {
  padding: 0 20px; }

.schindler-block-cta {
  position: relative;
  padding: 40px;
  background-position: center;
  background-size: cover; }
  .schindler-block-cta.has-background {
    color: white; }
  .schindler-block-cta.has-background:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #22222A;
    opacity: 0.75;
    z-index: 0; }
  .schindler-block-cta .schindler-block-cta-content {
    position: relative;
    z-index: 1; }
    .schindler-block-cta .schindler-block-cta-content img {
      width: auto; }
  .wp-block-column .schindler-block-cta {
    height: 100%; }
  .schindler-block-cta .btn {
    color: white; }
    .schindler-block-cta .btn:hover {
      color: #FF8D00; }

.flex-columns {
  display: flex;
  align-content: top; }

@media screen and (max-width: 1024px) {
  .reverse-on-mobile {
    flex-direction: column-reverse; } }

.celebration-logo {
  max-width: 1024px !important;
  margin: 0 auto; }

.sensible-max-width {
  background-color: white; }
  .sensible-max-width .wp-block-coblocks-row__inner {
    margin: 0 auto;
    max-width: 1280px !important; }

.goal-quote {
  max-width: 1024px !important;
  margin: 0 auto; }

.coblocks-form__submit .wp-block-button__link {
  width: 100%;
  margin-top: 1em;
  font-family: "Flama", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 1.25rem;
  transition: all 0.1s linear;
  color: white;
  border-radius: 0;
  border: 15px solid transparent;
  border-image: url("imgs/border.png") 15;
  padding: 10px;
  background-color: #ff8d00; }
  .coblocks-form__submit .wp-block-button__link:hover {
    background-color: rgba(255, 141, 0, 0) !important;
    color: #FF8D00; }

.no-top-margin {
  margin-top: 0; }
