.iw-slash {
    animation: $animation__speed linear 0s infinite shift-right;
}

@keyframes shift-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(28px);
    }
}

.iw-clip-a {
    animation: $animation__speed linear 0s infinite cover-down;
}

@keyframes cover-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(48px);
    }
    100% {
        transform: translateY(48px);
    }
}

.iw-clip-b {
    animation: $animation__speed linear 0s infinite cover-up;
}

@keyframes cover-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-48px);
    }
}

.iw-clip-c {
    animation: $animation__speed linear 0s infinite reveal-down;
}

@keyframes reveal-down {
    0% {
        transform: translateY(-48px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

.iw-clip-d {
    animation: $animation__speed linear 0s infinite reveal-up;
}

@keyframes reveal-up {
    0% {
        transform: translateY(48px);
    }

    50% {
        transform: translateY(48px);
    }

    100% {
        transform: translateY(0);
    }
}
