.wp-block-coblocks-hero .has-background-image {

    .wp-block-coblocks-hero__content h1,
    .wp-block-coblocks-hero__content h2,
    .wp-block-coblocks-hero__content h3,
    .wp-block-coblocks-hero__content h4,
    .wp-block-coblocks-hero__content h5,
    .wp-block-coblocks-hero__content p {
            color: white;
    }

    svg {
        fill: white;
        color: white;
    }
}

.wp-block-coblocks-row.is-equal-height-columns .wp-block-coblocks-column__inner {
    height: 100%;
}

.has-iw-white-color {
    color: white;
}

.has-iw-orange-color {
    color: $color__text-highlight;
}

.has-iw-blue-color {
    color: #16467B;
}

.has-iw-black-color {
    color: #22222A;
}

.has-iw-white-background-color {
    background-color: white;
}

.has-iw-orange-background-color {
    background-color: $color__text-highlight;
}

.has-iw-blue-background-color {
    background-color: #16467B;
}

.has-iw-black-background-color {
    background-color: #22222A;
}

.block-header {
    background-color: white;
    background-position: center;
    padding: 6em $size__margin 0;
    position: relative;
    z-index: 0;
    margin-top: -12em;
    margin-bottom: $size__margin;
    position: relative;
    background-size: cover;
    overflow: hidden;
    color: white;

    &:before {
        content: '';
        display: block;
        background-color: rgba(black, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
}

@media screen and (min-width: $breakpoint-small) {
    .block-header {
        margin-top: -9em;
    }
}

@media screen and (min-width: $breakpoint-medium) {
    .block-header {
        display: flex;
        align-items: center;
        padding: 0 $size__margin * 2;
    }
}

.tagline,
.header-content {
    width: 100%;
    position: relative;
    z-index: 3;
}

.header-content {
    margin-bottom: 3em;
}


@media screen and (min-width: $breakpoint-medium) {
    .header-content {
        margin-bottom: 0;

        &> :first-child {
            margin-top: 0;
        }

        &> :last-child {
            margin-bottom: 0;
        }
    }
}

.block-feed {
    margin-top: 1em;
}

.block-feed .grid-item {
    width: 100%;
    margin-bottom: $size__margin / 2;
}

.block-feed .post-type-work {
    font-size: 1.375rem;
}

.linkedin-banner {
    padding: 4em 1em;
    background-image: url('imgs/linkedin-banner.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: rgba(black,0.5);
    }

    .linkedin-banner-inner {
        max-width: 30em;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 5;
        color: white;

        & > :first-child {
            margin-top: 0;
        }
        & > :last-child {
            margin-bottom: 0;
        }
    }

    .linkedin-icon {
        display: inline-block;
        height: 1.5em;
        vertical-align: -25%;
        margin-right: 0.5em;
        filter: brightness(0) invert(1);
    }
}