.acf-module-label {
    font-size: 12px;
    display: inline-block;
    padding: 3px 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #aaa;
    margin-right: 5px;
}

.acf-module-label--squares {
    background-image: url( '%s/imgs/square.png' );
}

.acf-module-label--graph {
    background-image: url( '%s/imgs/graphy.png' );
}

.acf-module-label--lined {
    background-image: url( '%s/imgs/lined.png' );
    background-size: auto 6px;
}

.acf-module-label--yellow {
    background: #fffe90;
}

.acf-module-label--orange {
    background: #FBAD4B;
    color: white;
}

.acf-module-label--quote {
    background: #22222A;
    color: white;
}

.acf-module-label--img {
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #ccc;
    vertical-align: bottom;
}

.acf-postmeta {
    font-size: 10px;
    display: inline-block;
    padding: 0 5px;
    border-radius: 2px;
    margin-left: 5px;
}

.acf-postmeta-template {
    border: 1px solid #ccc;
    background-color: white;
    color: #aaa;
}

.acf-postmeta-posttype-post {
    border: 1px solid #aaa;
    background-color: #aaa;
    color: white;
}

.acf-postmeta-posttype-work {
    border: 1px solid #ff8d00;
    background-color: #ff8d00;
    color: white;
}

.layout.ui-sortable-helper .acf-module-label {
    background-color: #eee;
}

.acf-relationship .list {
    height: 400px;
}

.acf-field-5b7429202f214 > .acf-label,
.acf-field-group > .acf-label {
    font-family: 'Flama', sans-serif;
    font-size: 1.75em;
    -webkit-font-smoothing: antialised;
}

.acf-field-5b7429202f214 input[type="text"] {
    font-size: 1.6em;
    height: 1.6em;
    padding: 3px 8px;
}

@font-face {
    font-family: 'Flama';
    src: url('%s/fonts/flamabook-webfont.woff2') format('woff2'),
         url('%s/fonts/flamabook-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url('%s/fonts/flamamedium-webfont.woff2') format('woff2'),
         url('%s/fonts/flamamedium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Flama';
    src: url('%s/fonts/flama-bold-webfont.woff2') format('woff2'),
         url('%s/fonts/flama-bold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@media (min-width: 600px) {
    .wp-admin .wp-block-embed {
        min-width: auto;
    }
}
